dialog {
  width: 86%;
  height: 86%;
  position: fixed;
  top: 4%;
  left: 2%;
}

dialog::backdrop {
  background-color: var(--vscode-sideBar-background);
  opacity: 0.5;
}

.close-button {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  cursor: pointer;
  width: 1rem;
  height: 1rem;
  padding: 0;
}
