<h2>Exercises in {{ course.title }}</h2>
@if (exercisesDue().length > 0) {
<h5 class="my-2">Due Next</h5>
<div class="d-grid gap-1 fill-grid">
  <ng-container
    *ngTemplateOutlet="exerciselist; context: { exercises: exercisesDue() }"
  ></ng-container>
</div>
} @if (exercisesPastDueDate().length > 0) {
<h5 class="my-2">Past Due Date</h5>
<div class="d-grid gap-1 fill-grid">
  <ng-container
    *ngTemplateOutlet="exerciselist; context: { exercises: exercisesPastDueDate() }"
  ></ng-container>
</div>
} @if (exercisesNoDueDate().length > 0) {
<h5 class="my-2">No Due Date</h5>
<div class="d-grid gap-1 fill-grid">
  <ng-container
    *ngTemplateOutlet="exerciselist; context: { exercises: exercisesNoDueDate() }"
  ></ng-container>
</div>
}

<ng-template #exerciselist let-exercises="exercises">
  @for (exercise of exercises; track exercise) {
  <button
    class="d-flex flex-column p-2"
    (click)="clickExercise(exercise)"
    data-bs-toggle="tooltip"
    [attr.title]="exercise.title"
  >
    <h6 class="text-center w-100 text-truncate">{{ exercise.title }}</h6>
    <div class="d-flex w-100 justify-content-between">
      <div class="text-start">
        <b>Due Date:</b><br />
        <em>{{exercise.dueDate?.toDateString() ?? "No due date"}}</em>
      </div>
      <div class="text-start">
        <b>Score:</b><br />
        @if (getScore(exercise) !== undefined) {
        <span
          [class.text-fail]="getScore(exercise) !== 100"
          [class.text-success]="getScore(exercise) === 100"
        >
          {{getScore(exercise)}}%
        </span>
        } @else{
        <span>No graded result</span>
        }
      </div>
    </div>
  </button>
  }
</ng-template>
