<h2>Exercises in {{ course.title }}</h2>
<div class="d-flex flex-wrap">
  @if (exercisesDue().length > 0) {
  <h5 class="w-100">Due Next</h5>
  <ng-container *ngTemplateOutlet="exerciselist; context: { exercises: exercisesDue() }"></ng-container>
  } @if (exercisesPastDueDate().length > 0) {
  <h5 class="w-100">Past Due Date</h5>
  <ng-container
    *ngTemplateOutlet="exerciselist; context: { exercises: exercisesPastDueDate() }"
  ></ng-container>
  } @if (exercisesNoDueDate().length > 0) {
  <h5 class="w-100">No Due Date</h5>
  <ng-container *ngTemplateOutlet="exerciselist; context: { exercises: exercisesNoDueDate() }"></ng-container>
  }
</div>

<ng-template #exerciselist let-exercises="exercises">
  @for (exercise of exercises; track exercise) {
  <button class="d-flex flex-column align-items-center m-1 p-2" (click)="clickExercise(exercise)">
    <b>{{ exercise.title }}</b>
    <div>{{getScore(exercise) ?? "No graded result"}}</div>
    <div>{{exercise.dueDate?.toLocaleString() ?? "No due date"}}</div>
  </button>
  }
</ng-template>
