.task-name {
  font-weight: bold;
}

.test-result {
  text-decoration: underline;
  cursor: pointer;
}

.text-success {
  color: var(--vscode-editorInfo-foreground);
}

.text-fail {
  color: var(--vscode-editorError-foreground);
}

dialog {
  width: 86%;
  height: 86%;
  border: none;
  position: fixed;
  top: 4%;
  left: 2%;
  background-color: var(--vscode-editor-background);
}

dialog::backdrop {
  background-color: var(--vscode-sideBar-background);
  opacity: 0.5;
}

.close-button {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  cursor: pointer;
  width: 1rem;
  height: 1rem;
  padding: 0;
}
