<h2>Courses</h2>
@if (coursesWithNextDue().length === 0) {
<p>You are not enrolled into any courses that have a released programming exercise</p>
}
<div class="d-grid gap-1 fill-grid">
  @for (courseWithNextDue of coursesWithNextDue(); track courseWithNextDue) {
  <button
    class="d-flex flex-column p-2"
    (click)="clickCourse(courseWithNextDue.course)"
    data-bs-toggle="tooltip"
    [attr.title]="courseWithNextDue.course.title"
  >
    <h6 class="text-center w-100 text-truncate m-0">{{ courseWithNextDue.course.title }}</h6>
    <div class="text-start mb-1">
      <b>Score:</b><br />
      <span
        >{{courseWithNextDue.course.absoluteScore}} / {{courseWithNextDue.course.maxPoints}}
        Points</span
      >
    </div>
    <div class="text-start">
      <b>Next exercise:</b><br />
      @if (courseWithNextDue.nextDueExercise) {
      <span
        ><code>{{courseWithNextDue.nextDueExercise.title}}</code> due on
        <em>{{courseWithNextDue.nextDueExercise.dueDate!.toDateString()}}</em></span
      >
      } @else {
      <em>No exercises due</em>
      }
    </div>
  </button>
  }
</div>
