<h2>Courses</h2>
@if (!coursesWithScore()) {
<p>You are not enrolled into any courses that have a released programming exercise</p>
}
<div class="course-list">
  @for (courseWithScore of coursesWithScore(); track courseWithScore) {
  <vscode-button class="course-item" (click)="clickCourse(courseWithScore.course)">
    <div class="column">
      <h3 class="title">{{ courseWithScore.course.title }}</h3>
      <span>
        {{courseWithScore.totalScores.studentScores.absoluteScore}} /
        {{courseWithScore.totalScores.reachablePoints}}
      </span>
      <div class="row">
        @if (courseWithScore.nextDueExercise) {
        <div>Next exercise: {{courseWithScore.nextDueExercise.title}}</div>
        <div>due on {{courseWithScore.nextDueExercise.dueDate!.toDateString()}}</div>
        } @if (!courseWithScore.nextDueExercise) {
        <div>No exercises due</div>
        }
      </div>
    </div>
  </vscode-button>
  }
</div>
