<h2>Courses</h2>
@if (coursesWithNextDue().length === 0) {
<p>You are not enrolled into any courses that have a released programming exercise</p>
}
<div class="course-list">
  @for (courseWithNextDue of coursesWithNextDue(); track courseWithNextDue) {
  <vscode-button class="course-item" (click)="clickCourse(courseWithNextDue.course)">
    <div class="column">
      <h3 class="title">{{ courseWithNextDue.course.title }}</h3>
      <span>
        {{courseWithNextDue.course.absoluteScore}} /
        {{courseWithNextDue.course.maxPoints}}
      </span>
      <div class="row">
        @if (courseWithNextDue.nextDueExercise) {
        <div>Next exercise: {{courseWithNextDue.nextDueExercise.title}}</div>
        <div>due on {{courseWithNextDue.nextDueExercise.dueDate!.toDateString()}}</div>
        } @if (!courseWithNextDue.nextDueExercise) {
        <div>No exercises due</div>
        }
      </div>
    </div>
  </vscode-button>
  }
</div>
