<table>
  <tr>
    <th>Points</th>
    <td>
      <score-button [loading]="loading()" [result]="latestResult()" [maxPoints]="exercise().maxPoints!"></score-button>
    </td>
  </tr>

  <tr>
    <th>Submission due</th>
    <td>
      @if (exercise().dueDate){
      {{ exercise().dueDate!.toLocaleString() }}
      } @else { No Due date }
    </td>
  </tr>

  @if (exercise().difficulty) {
  <tr>
    <th>Difficulty</th>
    <td>
      <span>{{ exercise().difficulty }}</span>
    </td>
  </tr>
  }
</table>
