.container-success {
  background-color: var(--vscode-inputValidation-infoBackground);
  border-color: var(--vscode-inputValidation-infoBorder);
  min-height: 3rem;
}

.container-fail {
  background-color: var(--vscode-inputValidation-errorBackground);
  border-color: var(--vscode-inputValidation-errorBorder);
  min-height: 3rem;
}
