@if (loading()) {
  <div class="spinner-border spinner-border-sm" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <em> Loading...</em>
} @else if (result()) {
  <dialog #feedbackDialog class="feedbackDialog">
    <feedback-list
      [feedbackList]="result()?.feedbacks ?? []"
      (onClose)="feedbackDialog.close()"
    ></feedback-list>
  </dialog>
  <u
    class="cursor-pointer"
    [ngClass]="result()!.score === 100 ? 'text-success' : 'text-fail'"
    (click)="feedbackDialog.showModal()"
    >{{ absoluteScore() }} / {{ maxPoints() }}</u
  >
} @else {
  <em [ngClass]="'no-result'"> No Graded Result</em>
}
