dialog {
  width: 86%;
  height: 86%;
  position: fixed;
  top: 4%;
  left: 2%;
}

dialog::backdrop {
  background-color: var(--vscode-sideBar-background);
  opacity: 0.5;
}

.test-result {
  text-decoration: underline;
  cursor: pointer;
}

.close-button {
  cursor: pointer;
}
