@if (result() ){
<dialog #feedbackDialog>
  <button class="close-button position-absolute top-0 end-0 m-3 py-0 align-middle" (click)="feedbackDialog.close()" aria-label="Close">
    <fa-icon [icon]="faX"></fa-icon>
  </button>
  <br />
  <br />
  <feedback-list [feedbackList]="result()!.feedbacks"></feedback-list>
</dialog>
<span
  class="test-result"
  [ngClass]="result()!.score === 100 ? 'text-success' : 'text-fail'"
  (click)="feedbackDialog.showModal()"
  >{{ absoluteScore() }} / {{ maxPoints() }}</span
>
} @else {
<span [ngClass]="'no-result'"> No Graded Result</span>
}
